* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:visited {
  color: black;
}

:link {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  position: relative;
  padding: 0.85rem 1.25rem 0.85rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 50px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white !important;
  border-style: none;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.12);
  transition: 300ms linear;
  z-index: 1;
}
button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-image: linear-gradient(#ff93e1, #a16be0);
  z-index: -1;
  transition: opacity 300ms linear;
  opacity: 0;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.16);
}
button:hover::before {
  opacity: 1;
}

header {
  display: grid;
  justify-items: center;
  padding: 1.25rem 0 0.81rem 0;
}
header > img {
  width: 43%;
  max-width: 350px;
}

footer {
  background-color: #353535;
}

.footer__wrapper {
  padding-left: 5%;
  padding-right: 5%;
}
.footer__list {
  display: grid;
  row-gap: 0.63em;
  color: white;
  padding: 1.5em 0em 2em 0.5em;
  margin: 0;
}
.footer__list a {
  color: white;
  font-size: 0.88rem;
  display: grid;
  grid-template-columns: 1em auto;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  justify-content: start;
}
.footer__list a i {
  font-size: 0.81em;
  align-self: center;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.5em;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3rem;
}

.header {
  position: relative;
}
.header__icon {
  position: absolute;
  left: 7%;
  font-size: clamp(1.25rem, 5vw, 2rem);
  align-self: center;
}

.main {
  display: grid;
}
.main__menu {
  border-radius: 40px;
  margin-top: -3rem;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.main img {
  width: 100%;
}
.main__menu {
  display: grid;
  grid-template-columns: auto 50px;
}
.main__menu > h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.63rem;
  letter-spacing: 0.04rem;
  margin: 1.5em 0em 1.25em 0em;
}
.main__menu-icon {
  align-self: center;
  justify-self: center;
  font-size: 1.38em;
}
.main__menu-list {
  grid-column: 1/3;
  display: grid;
  grid-row-gap: 0.81rem;
  margin: 0;
  position: relative;
}
.main__menu-header h4 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin: 0;
  margin-bottom: 0.5em;
}
.main__menu-header h4::after {
  content: "";
  border-top: solid #99e2d0 3.5px;
  position: absolute;
  width: 2.5em;
  left: 0;
  top: 1.44em;
}
.main__menu-item {
  display: grid;
  padding: 0.75em 0em 0.75em 0.75em;
  cursor: pointer;
  position: relative;
  -webkit-animation: slide-and-show 1000ms ease-out backwards;
          animation: slide-and-show 1000ms ease-out backwards;
  border-radius: 0.75em;
}
.main__menu-item--1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.main__menu-item--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.main__menu-item--3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.main__menu-item--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.main__menu-item--5 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.main__menu-item--6 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.main__menu-item--7 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
.main__menu-item--8 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.main__menu-item--9 {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
.main__menu-item:hover .main__menu-item-border::after {
  transform: translateX(-4.19em);
}
.main__menu-item:hover .main__menu-item-container {
  width: calc(100% - 4.19em);
}
.main__menu-item:hover .main__menu-animation-checkmark {
  -webkit-animation: check-rotation 750ms 250ms cubic-bezier(0.6, 0, 0.51, 0.62) forwards, check-in 1000ms ease-in-out forwards;
          animation: check-rotation 750ms 250ms cubic-bezier(0.6, 0, 0.51, 0.62) forwards, check-in 1000ms ease-in-out forwards;
}
.main__menu-item-border {
  border-radius: 0.75em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-animation: slide-and-show 1000ms ease-out backwards;
          animation: slide-and-show 1000ms ease-out backwards;
  background-color: white;
}
.main__menu-item-border::after {
  content: "";
  width: 4.19em;
  height: 100%;
  background-color: #99e2d0;
  position: absolute;
  right: -4.19em;
  top: 0;
  border-radius: 0em 0.75em 0.75em 0em;
  transform-origin: right;
  transition: transform 1000ms ease-in-out;
}
.main__menu-item-container {
  display: grid;
  grid-template-columns: auto 50px;
  width: 100%;
  transition: width 1000ms ease-in-out;
  z-index: 1;
}
.main__menu-item h4,
.main__menu-item p {
  margin: 0;
  grid-column: 1/2;
}
.main__menu-item h4 {
  font-size: 1.08rem;
}
.main__menu-item p {
  font-size: 0.88rem;
  margin-top: 0.38rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu-item strong {
  font-size: 0.88rem;
  justify-self: center;
  align-self: end;
}
.main__menu-animation-checkmark {
  position: absolute;
  top: calc(50% - 0.75rem);
  right: -2.845rem;
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  -webkit-animation: check-out 1000ms ease-in-out;
          animation: check-out 1000ms ease-in-out;
}
.main__menu ul {
  margin-bottom: 2rem;
}
.main__button {
  grid-column: 1/3;
  width: 50%;
  justify-self: center;
  margin-bottom: 1em;
}

@-webkit-keyframes slide-and-show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes slide-and-show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}
@-webkit-keyframes check-rotation {
  0% {
    rotate: -270deg;
  }
}
@keyframes check-rotation {
  0% {
    rotate: -270deg;
  }
}
@-webkit-keyframes check-in {
  100% {
    translate: -4.19rem;
  }
}
@keyframes check-in {
  100% {
    translate: -4.19rem;
  }
}
@-webkit-keyframes check-out {
  0% {
    translate: -4.19rem;
  }
  100% {
    translate: 0;
  }
}
@keyframes check-out {
  0% {
    translate: -4.19rem;
  }
  100% {
    translate: 0;
  }
}
@media (min-width: 768px) {
  .header__icon {
    left: 10%;
  }
  .main__wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
  .main img {
    border-radius: 40px;
  }
}
@media (min-width: 998px) {
  .header__icon {
    left: 15%;
  }
  .main__wrapper {
    padding-left: 15%;
    padding-right: 15%;
  }
  .main__menu {
    width: 120%;
    justify-self: center;
  }
}/*# sourceMappingURL=menu.css.map */