@use "../utils/variables" as *;

button {
  position: relative;
  padding: 0.85rem 1.25rem 0.85rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 50px;
  background-image: linear-gradient($color-secondary, $color-primary);
  color: $color-txt-alt;
  border-style: none;
  box-shadow: 0 3px 5px 2px rgb(0 0 0 / 20%), 0 1px 2px rgb(0 0 0 / 12%);
  transition: 300ms linear;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    background-image: linear-gradient(
      $color-secondary--lighter,
      $color-primary--lighter
    );
    z-index: -1;
    transition: opacity 300ms linear;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 1px rgb(0 0 0 / 24%), 0 2px 4px rgb(0 0 0 / 16%);
    &::before {
      opacity: 1;
    }
  }
  a {
    color: $color-txt-alt !important;
  }
}
