* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:visited {
  color: black;
}

:link {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
