@import "../utils/variables";

@import "../utils/mixins";

@import "../base/typography";

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3rem;
}

@import "../layout/header";
.header {
  position: relative;
  &__icon {
    position: absolute;
    left: 25px;
    font-size: 1.25rem;
  }
}

.main {
  display: grid;
  &__menu {
    border-radius: 40px;
    margin-top: -3rem;
    background-color: $color-background-mild;
  }
  img {
    width: 100%;
  }
  &__menu {
    > h2 {
      @include logo-titles;
      font-size: 1.63rem;
      letter-spacing: 0.04rem;
      margin: 1.5em 0em 1.25em 0em;
      // background-color: $color-background-mild;
    }
    display: grid;
    grid-template-columns: auto 50px;
    &-icon {
      align-self: center;
      justify-self: center;
      font-size: 1.38em;
    }
    &-list {
      grid-column: 1 / 3;
      display: grid;
      grid-row-gap: 0.81rem;
      margin: 0;
      position: relative;
      // @for $i from 1 through $menu__num-lists {
      //   &--#{$i} {
      //     $menu__loop-counter: $menu__loop-counter + ($i - 1) * 3;
      //     @for $n from 1 through $menu__num-items {
      //       .main__menu-item--#{$n} {
      //         animation-delay: $menu__item-delay * ($n + $menu__loop-counter);
      //         // animation-delay: $menu__total-delay + ($menu__item-delay * $n);
      //       }
      //       // $menu__total-delay: $menu__total-delay + ($menu__item-delay * $n);
      //     }
      //   }
      // }
    }
    &-header h4 {
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      margin: 0;
      margin-bottom: 0.5em;
      &::after {
        content: "";
        border-top: solid #99e2d0 3.5px;
        position: absolute;
        width: 2.5em;
        left: 0;
        top: 1.44em;
      }
    }
    &-item {
      padding: 0.75em 0em 0.75em 0.75em;
      display: grid;
      grid-template-columns: auto 50px;
      animation: slide-and-show $menu__item-dur ease-out backwards;
      position: relative;
      overflow: hidden;
      border-radius: 0.75em;
      width: 100%;
      transition: width 2s ease-in-out;
      @for $n from 1 through $menu__num-items {
        &--#{$n} + .main__menu-border--#{$n} {
          animation-delay: $menu__item-delay * $n;
        }
      }
      // li:not(:first-child) {
      //   li::before {
      //     content: "";
      //     border-radius: 0.75em;
      //     box-shadow: 0 4px 15px rgb(0 0 0 / 16%);
      //   }
      // }
      // &:hover {
      //   width: 70%;
      // }
      // &:hover::after {
      //   transform: translateX(-67px);
      // }
      // &::after {
      //   content: "";
      //   width: 67px;
      //   height: 67px;
      //   background-color: $color-tertiary;
      //   position: absolute;
      //   right: -67px;
      //   top: 0;
      //   border-radius: 0em 0.75em 0.75em 0em;
      //   transform-origin: right;
      //   transition: transform 2s;
      // }
      h4,
      p {
        margin: 0;
        grid-column: 1 / 2;
      }
      h4 {
        font-size: 1.08rem;
      }
      p {
        font-size: 0.88rem;
        margin-top: 0.38rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      strong {
        font-size: 0.88rem;
        justify-self: center;
        align-self: end;
      }
    }
    &-border {
      border-radius: 0.75em;
      box-shadow: 0 4px 15px rgb(0 0 0 / 16%);
      /* border: aqua solid 2px; */
      height: 67px;
      width: 100%;
      position: absolute;
      top: 39px;
      overflow: hidden;
      cursor: pointer;
      z-index: 1;
      animation: slide-and-show $menu__item-dur ease-out backwards;
      &::after {
        content: "";
        width: 67px;
        height: 67px;
        background-color: $color-tertiary;
        position: absolute;
        right: -67px;
        top: 0;
        border-radius: 0em 0.75em 0.75em 0em;
        transform-origin: right;
        transition: transform 2s ease-in-out;
      }
      &:hover::after {
        transform: translateX(-67px);
      }
      &:hover + .main__menu-item {
        width: calc(100% - 67px);
      }
    }
    ul {
      margin-bottom: 2rem;
    }
  }
  @import "../components/buttons";
  &__button {
    grid-column: 1/3;
    width: 50%;
    justify-self: center;
    margin-bottom: 1em;
  }
}

@keyframes slide-and-show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  // 100% {
  //   opacity: 1;
  // }
}

@import "../layout/footer";
